@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-family: "Saans TRIAL";
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}



.master-div {
  height: 100vh;
}

.canvas {
  width: 100%;   
  height: 50vh; 

}

.page-container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two main columns */
  grid-template-rows: auto; /* Automatic row sizes */
  height: 100vh; /* Full height of the viewport */
}

.left-section {
  grid-column: 1; /* First column */
  grid-row: 1 / span 2; /* Span across two rows */
}

.right-section {
  display: grid;
  grid-template-rows: 1fr 1fr; /* Two rows of equal height */
  grid-column: 2; /* Second column */
}




.scroll-button {
  font-size: 1rem;

  font-size: xx-large;
  bottom: 20rem;
  right: 2rem;
  display: inline-flex;
  align-items: center;


}


/* .spacer {
  height: 800px;
}

.marquee {
  position: relative;
  background:black ;
  color: #eee;
  padding: 30px 0;
  font-weight: 600;
  font-size: 40px;
  text-transform: uppercase;
  overflow: hidden;
} */

/* /styles/fonts.css */


/* font-family: 'inter_Inter-san'; */


@layer utilities {
  .paused {
    animation-play-state: paused;
  }

  .text-balance {
    text-wrap: balance;
  }

  h1 sup {
    font-size: 4vw;
  }
}